
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

body {
    font-family: "Nunito";    
};



.container {
    display: grid;
    grid-gap: 2em;
    padding: 3em;

    
}

.card {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.card span {
    font-weight: bold;
    position: relative;
    margin-left: 15px;
};

.card span ::before {
    content: " ";
    position: absolute;
    height: 1px;
    width: 10px;
    border-bottom: 1px solid black;
    top: 10px;
    left: -15px;
};

@media screen and (min-width: 550px) {

    .container {
        grid-template-columns: repeat(3, 1fr);
    };
}



